body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    text-align: center;
    background-color: #484622;
    color: white;
    padding: 10px 0;
}

nav {
    background-color: #484622;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 200px;
}

.achievement {
    margin-bottom: 30px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.achievement img {
    max-width: 500px;
    max-height: 300px;
    display: block;
    margin: 0 auto 15px;
    border-radius: 8px;
}

footer {
    background-color: #484622;
    color: white;
    text-align: center;
    padding: 10px 0;
}
